.SparkLineChart {
  height: 50%;
}
.SparkLineChart .chart-label,
.SparkLineChart .x-axis-label {
  display: none;
}
.SparkLineChart .x-axis .domain {
  stroke: transparent;
}
.SparkLineChart .x-axis .tick path {
  stroke: rgba(70, 70, 70, 0.8);
}
.SparkLineChart line.gridlines {
  stroke-width: 1px;
  stroke: #464646;
}